/* drupal carbon module */


div.float-left{
  float:left;
}

/** the 'ajaj' class must match carbon_edit.inc. */

table .edit {
  font-size : smaller ; 
  color: #FFF ; 
  background-color: #080 ;
  background: transparent url(pencil.png) no-repeat scroll 0 0;  
  background-position: 4px 0px;
  height: 16px;
  width: 15px;
  padding : 0px 4px 0px 4px  ;    
  float:left;  
}

table .clone {
  font-size : smaller ; 
  color: #FFF ; 
  background-color: #800 ;
  background: transparent url(copy.png) no-repeat scroll 0 0;  
  background-position: 4px 0px;
  height: 16px;
  width: 15px;      
  padding : 0px 4px 0px 4px  ;  
  float:left;
}


table .delete { 
  font-size : smaller ; 
  color: #FFF ; 
  background-color: #008 ; 
  background: transparent url(delete.png) no-repeat scroll 0 0;
  background-position: 4px 0px;
  height: 16px;
  width: 15px;  
  padding : 0px 4px 0px 4px  ;  
  float:left;
}


table .new { 
  font-size : smaller ; 
	color: #000 ; 
  background-color: #008 ; 
  background: transparent url(greenplus.png) no-repeat scroll 0 0;
  background-position: 4px 0px;
  height: 16px;
  width: 15px;  
  padding : 0px 4px 0px 20px ;  /* leave space for + sign */
  float:left;
}


a.new-stamp { 
  font-size : smaller ; 
	color: #FFF ; 
  background-color: #0CC ; 
	background: transparent url(greenplus.png) no-repeat scroll 0 0; 
  background-position: 5px 3px;
  padding : 5px 5px 5px 20px ;
  float : left ;  
}


#nojavascript {  /** this is a warning message, removed by javascript */
  font-size : larger; 
  color : #F00;
}


.header {
	font-size : 1.1em ;
  font-weight : bold ; 
}


/** put a loading image while waiting for ajax response */

td.loading, a.loading {
  color : #888 ;
	background: transparent url(spinner.gif) no-repeat scroll 0 0 ; 
  background-position: 3px ;  
  padding : 0px 0px 0px 30px ;  /* leave space for spinner */
}

.highlight   { 
  color : #44F ; 
}

tr.deletion   {
  color : #888 ; 
}


#debugPanel {
  float : left ;
  margin : 0.6cm 0.0cm ;
  padding : 0.1cm ;
  font-size : smaller ;
  color: #888 ;        /** make the text small and grey and unnoticeable */
  text-align : left ;
}